<div class="askQuestionPage">
  <div class="contents">
    <h2 class="title">質問する</h2>

    <%= form_for(@question) do |f| %>

      <div class="field">
        <%= f.label :question , "分からないことを聞いてみよう" %>
        <%= f.text_area :question %>
      </div>

      <div class="actions">
        <%= f.submit "送信", class:"submitBtn" %>
      </div>

    <% end %>
  </div>
</div>