<div class="aboutPage">
  <div class="contents">
    <h2 class="title">このサイトについて</h2>
    <div class="description">
      このサイトでは、世界のみんなに気軽に質問をすることができます。<br>
      お試しでサイトを使用してみたい場合は、下記ユーザー情報を使用してください。<br>
      mail:user1@example.com<br>
      password:aaaaaaaa
    </div>
  </div>
</div>


