/* HEADER */

.page_header{
  background-color: #60c5ba;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_logo{
    width: 128px;
    height: auto;

  }

  &_menu{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 25px;
    list-style: none;

    a{
      color: #fff;
    }

    li{
      margin-left: 34px;
    }
  }
}

.wrapper{
  margin: 0 auto;
  padding: 0 4%;
}