
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home{
  background-image: url(girlandpc.jpg);
  min-height: 100vh;
  &page-title{
    text-transform: none;
  }
}

.loginPage{
  &_contents{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &_title{
      font-size: 1.7rem;
      margin-top: 60vh;
    }
    &_signInBtn{
      display: block;
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: $main-color;
      color: white;
    }

    &_signUpBtn{
      display: block;
      max-width: 500px;
      padding: 20px;
      margin: 15px auto;
      border-radius: 30px;
      background: $accent-color;
      color: white;
    }
  }
}

.aboutPage{
  .contents{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title{
      font-size: 1.7rem;
      margin-top: 15vh;
    }

    .description{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: larger;
    }

  }
}
